@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .badge {
    @apply absolute inline-flex items-center justify-center text-xs text-white font-bold border-2 rounded-full top-0 right-0 w-6 h-6;
  }
  .badge-primary {
    @apply badge bg-[#72add7] shadow-primaryTransparent;
  }
  .badge-warn {
    @apply badge bg-[#F8BB54] shadow-warn;
  }
  .data-table {
  }

  .data-table .ant-table-thead .ant-table-cell {
    @apply py-5  p-3 bg-white border border-x-0 rounded-none border-[#E7ECF3] before:content-none font-poppins text-base font-semibold !important;
  }
  .data-table .ant-table-tbody .ant-table-cell {
    @apply border-none text-sm text-[#84878B]  font-medium font-poppins !important;
  }
  .data-table .ant-table-thead .ant-table-cell .ant-table-column-sorters {
    @apply inline-flex  !important;
  }
  .ant-table-column-sorter-inner {
    @apply text-[#3B3E44] !important;
  }
}
@layer utilities {
  body {
    @apply font-poppins;
  }
  .placeholder-style::placeholder {
    padding: 5px 12px;
    margin: 5px;
  }
}

/* clears the 'X' from Internet Explorer */
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
/* ant design table  */
.ant-table-column-sorter-inner {
  color: #3b3e44 !important;
}
.ant-table-column-sorter-up,
.ant-table-column-sorter-down {
  font-size: 10px !important;
}
/* ant design select  */

.ant-select .ant-select-selector {
  border-radius: 30px !important;
}
.ant-upload-select {
  width: 100% !important;
  border: 1px dashed #84878b !important;
}
